.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 80px;
    height: 80px;
    margin: 1px;

    font-size: 60px;

    border: 1px solid gray;
}

body > main > section > button {
    display: inline-flex;
    justify-content: center;  
    align-items: center;  
}

header {
    background-color: aliceblue;
    color:black;
    margin : 25px;
}
header, main, footer {
    width : 800px;
    background-color: white;

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#bomb {
    text-align: left;
}